p {
    font-family: roboto, Arial;
    font-weight: 500;
    font-size: 14px;
}

body {
    margin: 0px;
    padding-top: 80px;
    padding-left: 98px;
    padding-right: 24px;
    background-color: rgb(248, 245, 245);
}