.sidebar {
    position: fixed;
    left: 0;
    bottom: 0;
    top: 55px;
    background-color: white;
    width: 70px;
    z-index: 200;
    padding-top: 4px;
}

.sidebar-links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 74px;
    
}

.sidebar-links:hover {
    background-color: rgb(239, 238, 238);
}

.home {
    height: 30px;
}

.sidebar-links img {
    height: 24px;
    padding-bottom: 7px;
}

.sidebar-links div {
    font-family: roboto, Arial;
    font-size: 10px;
}